<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Poupex</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastrarGestorServlet</display-name>
    <servlet-name>CadastrarGestorServlet</servlet-name>
    <servlet-class>bean.CadastrarGestorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarGestorServlet</servlet-name>
    <url-pattern>/cad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarGestorServlet</display-name>
    <servlet-name>AlterarGestorServlet</servlet-name>
    <servlet-class>bean.AlterarGestorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarGestorServlet</servlet-name>
    <url-pattern>/alt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarIdServlet</display-name>
    <servlet-name>BuscarIdServlet</servlet-name>
    <servlet-class>bean.BuscarIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarIdServlet</servlet-name>
    <url-pattern>/bus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirGestorServlet</display-name>
    <servlet-name>ExcluirGestorServlet</servlet-name>
    <servlet-class>bean.ExcluirGestorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirGestorServlet</servlet-name>
    <url-pattern>/exc</url-pattern>
  </servlet-mapping>
</web-app>